<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='html5reset.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <title>Home page</title>
    </head>

    <body class="Bechdel_background parallax">
    <h1>Bechdel Test</h1><br/>
    <p><strong><a href="/">Back</a></strong></p><br/>
        <main>
            <h2 style="text-align: center;">Bechdel test</h2><br/>
            <p>'<strong>The Bechdel Test</strong>' was inspired by cartoonist Alison Bechdel‘s 1985 
                tongue-in-cheek comic strip 'The Rule' which became a basic measure to see if women 
                are fairly represented in a film. It's is also referred to as the Bechdel-Wallace 
                test Alison credited the idea for the test to her friend Liz Wallace.</p><br>
            <h2 style="text-align: center;">For a film to pass The Bechdel Test, the movie must simply have the following:</h2>
            <p style="text-align: center;"><strong>1: It must have at least two female characters</strong><br>
                <strong> 2: They must both have names</strong><br>
                <strong> 3: They must talk to each other about something other than a man</strong></p><br>
            <div style="text-align:center">
                <img src="../static/img/rule.jpg"/>
            </div>
                <h2 style="text-align: center;">Simple, right? You'd think so…</h2><br>
            <p>Of the 25 top grossing movies of 2016, a measly <a href="http://www.indiewire.c
                om/2016/12/top-movies-2016-passed-bechdel-test-bad-moms-ghostbusters-1201756648/" 
                target="_blank">half passed the test</a>. Considering&nbsp;the ridiculously low bar
                 in order for the film to pass – that's pretty poor. Also, research conducted by The 
                 nter for the Study of Women in Television and Film discovered that of the 4,370 speaking 
                 named characters from the top-grossing films in 2015, only 31.4% were women and&nbsp;26.3% 
                 were underrepresented racial/ethnic groups.</p><br>
            <p><strong>The test is not a measure of how good or 'feminist' a film is but it does highlight 
                just how male-dominated cinema really is</strong>. It's a simple, albeit imperfect test, but 
                 author Alison Bechdel herself says '<strong>it's a bit of fun</strong>'. </p><br><br>
            <h1><a href="/">Back</a></h1>
                
        </main>

        <footer>
            <p>Zitong Liao - 2020F</p>
        </footer>
	</body>
</html>