<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='html5reset.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <title>Home page</title>
    </head>

    <body class="home_background parallax">
    <h1>Home page</h1><br/>
        <main>
            <h2>Main pages</h2><br/>
            <nav>
                <ul>
                    <li><a href="/Bechdel">What is the Bechdel test</a></li><br/><br/>
                    <li><a href="/search">Find your favorite movie or book</a></li><br/><br/>
                    <li><a href="/chart">Sort all movies and books</a></li>
                </ul>
            </nav>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <p><strong>Welcome to Bechdel Test Web.</strong></p>
        </main>

        <footer>
            <p>Zitong Liao - 2020F</p>
        </footer>
	</body>
</html>